@media only screen and (max-width: 479px){
    .dashboard .col2-set .col-1 {
        width: 100%;
        margin-top: 15px;
    }
    .col2-set .col-1 {
        float: none;
        width: auto;
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


@media only screen and (max-width: 767px){
    .block.block-account {
        padding: 0;
    }
    .block-account .block-content li {
        width: 100%;
        display: block;
        padding: 16px 10px 17px;
    }
    .block-account .block-content li+li {
        border: none;
        border-top: 1px solid rgba(0,0,0,.1);
    }
    .dashboard .acc-box {
        padding-bottom: 15px;
        margin-bottom: 30px;
    }
    .dashboard .col2-set .col-1 {
        float: left;
        margin-right: 4%;
    }
    .dashboard .col2-set .col-1 {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
    .col2-set .col-1 {
        padding: 10px;
    }
}

@media only screen and (max-width: 979px){
    .dashboard .col2-set .col-1 .title a {
        position: static;
        padding: 0;
    }
}

@media only screen and (max-width: 1199px){
    .dashboard .col2-set .col-1 {
        padding-right: 30px;
        padding-bottom: 0;
    }
}

.block.block-account {
    font-size: 0;
    text-align: center;
    border: 1px solid rgba(0,0,0,.1);
    padding: 16px 0 17px;
    margin: 0;
}

.block-account .block-content {
    font-size: 0;
    text-align: center;
    padding: 0;
    margin: 0;
}

.block-content {
    margin-top: 10px;
}

.block-account .block-content li {
    font-size: 12px;
    line-height: 30px;
    color: #000;
    display: inline-block;
    list-style: none;
    padding: 0 10px;
    width: 25%;
    font-family: dosis-medium;
    margin: 0;
    text-transform: none;
}

.block-account li {
    text-transform: uppercase;
    margin: 7px 0;
}

.block-account .block-content #linkwrap li.current a {
    color: var(--theme);
}

.block-account .block-content li a:hover,
.block-account .block-content #linkwrap li.current a {
    color: var(--theme);
}

.block-account .block-content li a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

#div2, #div3, #div4, #div5{
    display: none;
}

.block-account .block-content #linkwrap li.current a::after {
    content: "";
    background: var(--theme);
    position: absolute;
    left: 0;
    bottom: -18px;
    width: 100%;
    height: 2px;
}

.block-account .block-content li+li {
    border-left: 1px solid rgba(0,0,0,.1);
}

.my-account {
    padding: 47px 0 0;
    max-width: 100%;
    width: 800px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 18px;
    color: #606060;
}

.my-account p.hello {
    font-size: 14px;
    color: #000;
    font-family: dosis-medium;
    font-weight: normal;
}

.my-account p {
    font-size: 12px;
    line-height: 18px;
    color: #606060;
    letter-spacing: .05em;
}

.my-account p strong {
    font-weight: normal;
    color: #000;
}

.my-account .acc-box {
    border: none;
    margin: 0;
    padding: 0;
}

.dashboard .acc-box {
    padding-bottom: 40px;
    margin-bottom: 45px;
}

.my-account .acc-box .box-title {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 0;
}
.dashboard .box-title {
    margin-top: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 7px;
}

.my-account .acc-box .box-title h2 {
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
}

.dashboard .box-title h2 {
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0;
}

.my-account h2 {
    color: #000;
    font-size: 14px;
    letter-spacing: .1em;
    line-height: 18px;
    margin: 0 0 18px;
    text-align: left;
    text-transform: uppercase;
}

.dashboard .title a, .dashboard .box-title a {
    font-size: 10px;
}
.dashboard .title a, .dashboard .box-title a {
    text-transform: uppercase;
    font-size: 12px;
}
.dashboard .box-title a {
    padding: 10px;
}
.my-account a {
    color: #000;
    text-decoration: underline;
}

.dashboard .col2-set .col-1 {
    padding-right: 12.09677%;
    padding-bottom: 0;
}

.col2-set .col-1 {
    float: left;
    padding-left: 0;
}

.col2-set .col-1 {
    width: 100%;
    padding: 20px;
}

.dashboard .col2-set .col-1 .title {
    position: relative;
    padding-bottom: 10px;
}

.dashboard .col2-set .col-1 .title h2,
.dashboard .col2-set .col-1 .title h3{
    font-size: 12px;
    color: #000;
    letter-spacing: .05em;
    font-weight: normal;
}

.dashboard .col2-set .col-1 .title h2,
.dashboard .col2-set .col-1 .title h3{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0;
}

.dashboard .col2-set .col-1 .title a {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 10px;
    line-height: 19.6px;
}

.dashboard .col2-set .col-1 .title a:hover{
    color: var(--theme);
}

.dashboard .title a, .dashboard .box-title a {
    font-size: 10px;
}

.dashboard .title a, .dashboard .box-title a {
    text-transform: uppercase;
    font-size: 12px;
}

.col2-set:after {
    content: '';
    display: table;
    clear: both;
}